<nz-page-header nzTitle="Sources">
  <nz-page-header-extra>
    <a [routerLink]="['create']">
      <button nz-button>Upload new</button>
    </a>
    </nz-page-header-extra>
</nz-page-header>
<nz-list
  [nzDataSource]="data"
  [nzRenderItem]="item"
  [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 6, lg: 6, xl: 6 }"
  [nzLoading]="loading"
>
  <ng-template #item let-item>
    <nz-list-item
      [nzContent]="item.createplaceholder ? createAdTemplate : nzContent"
    >
      <ng-template #nzContent>
        <nz-card style="width:100%;" [nzCover]="coverTemplate">
          <nz-card-meta
            [nzTitle]="item.title"
            [nzDescription]="descriptionTemplate"
            [nzAvatar]="avatarTemplate"
          ></nz-card-meta>
        </nz-card>
        <ng-template #descriptionTemplate>
          <nz-tag
            [nzColor]="item.is_active ? 'green' : null"
            class="cursor-pointer"
            nz-tooltip
            nzTooltipTitle="Click to change"
            (click)="toggleActiveStatus($event, item)"
            >{{ item.is_active ? "Active" : "Paused" }}</nz-tag
          >
          <nz-tag nzColor="blue">
            Media type:
            <i
              nz-icon
              [nzType]="item.media_type == 'VD' ? 'video-camera' : 'picture'"
            ></i>
          </nz-tag>

          <p>{{ item.description }}</p>
        </ng-template>
        <ng-template #avatarTemplate> </ng-template>
        <ng-template #coverTemplate>
          <a [routerLink]="[item.id]">
            <img *ngIf="item.media_type == 'IM'" [src]="item.file[0].file" />
            <video
              *ngIf="item.media_type == 'VD'"
              [src]="item.file[0].file"
            ></video>
          </a>
        </ng-template>
      </ng-template>

      <ng-template #createAdTemplate>
        <a [routerLink]="['create']">
          <nz-card style="width:100%;" [nzCover]="coverTemplate">
            <nz-card-meta [nzTitle]="item.title"></nz-card-meta>
            <ng-template #coverTemplate>
              <img
                alt="example"
                src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
              />
            </ng-template>
          </nz-card>
        </a>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
