<h1 style="text-align: center;">Welcome to the analytics dashboard</h1>

<div nz-row>
  <nz-select
    class="select-ad"
    [nzLoading]="loading"
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Select ad"
    [(ngModel)]="selectedAd"
  >
    <nz-option
      *ngFor="let ad of ads"
      [nzLabel]="ad.title"
      [nzValue]="ad"
    ></nz-option>
  </nz-select>
</div>

<app-ad-stats *ngIf="selectedAd" [ad]="selectedAd"></app-ad-stats>
<app-summary *ngIf="!selectedAd" [ads]="ads"></app-summary>
