<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    nzWidth="200px"
    nzTheme="light"
  >
    <ul
      nz-menu
      nzTheme="light"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/', 'cms', 'advertisements']">
        <i nz-icon nzType="video-camera"></i>
        <span>Advertisements</span>
      </a>
    </li>
    <li nz-submenu nzTitle="Schedule & Planning" nzIcon="calendar">
      <ul>
        <li nz-menu-item>Timing templates</li>
        <li nz-menu-item>Region templates</li>
        <li nz-menu-item>Playable templates</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Plans" nzIcon="calendar">
      <ul>
        <li nz-menu-item>Basic</li>
        <li nz-menu-item>Custom</li>
      </ul>
    </li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-content">
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>
