@import (once) './variables.less';


.ant-layout-sider-trigger {
  border-right: 1px solid @border-color-base;
}

:focus {
  outline: none;
}

.hide-ant-upload-disabled {
  .ant-upload-disabled {
    display: none;
  }
}

.ant-card-cover {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  img, video {
    height: 200px;
    max-width: 100%;
    margin: auto;
    display: block;
  }
}

.ant-layout-header {
  padding: 0 24px;
}

.full-width-chart {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  min-height: 400px;
  &.small {
    min-height: 100px;
    max-height: 200px;
  }
}

.ant-descriptions-item > .ant-descriptions-item-label {
  font-weight: bold;
  color: @text-color-secondary;
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;

}

.ant-cards-padding-h-0 {
  .ant-card-body {
    padding-left: 0;
    padding-right: 0;
  }
}
